<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Заголовок</h1>
     <h2>Заголовок</h2>
     <h3>Заголовок</h3>
     <h4>Заголовок</h4>
     <h5>Заголовок</h5>
     <h6>Заголовок</h6>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, eius? Necessitatibus ratione delectus alias nam perspiciatis asperiores nulla earum voluptate, aperiam a fugit debitis maiores dicta placeat mollitia velit sit.</p>

     <!-- Неупорядоченный сртсок -->
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>

     <!-- упорядоченный сртсок -->
    <ol>
        <li>Lorem <br> ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ol>

    <br> отступ на следующую строку<br>

    <a href="#">Работа со ссылками</a>

    <div>Блок кода</div>
    
    <img src="" alt=""> Работа с картинками

    <header>шапка или голова сайта</header>
    <main>туловище сайта</main>
    <footer>ноги сайта</footer>

    <nav>навигации сайта</nav>
    <section>Разделы сайта</section>

</body>
</html>